analytics-python
streamlit
streamlit-option-menu
markdown
numpy
pandas
statsmodels
scikit-learn
matplotlib
seaborn
scipy
Pillow
dtale
streamlit_extras
pandasai
st_clickable_images
st_click_detector
pandas_profiling>=3.1.0,<3.3.0
streamlit_quill
python-pptx
streamlit-on-Hover-tabs
streamlit_pandas_profiling
